<%= javascript 'staypuft/nics_assignment' %>

<% title _("Configure Interfaces (%s hosts)") % @hosts.size %>

<div id="nics_assignment">
  <%= render 'staypuft/interface_assignments/nics_assignment',
           :host => @host,
           :hosts => @hosts,
           :deployment => @deployment,
           :subnets => @subnets,
           :interface => @interface,
           :interfaces => @interfaces %>
</div>